<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/css/video-view.css">
<div class="card-body">
  <h5 class="card-title"><%= video.name %></h5>
  <p class="card-text"><%= video.description %>
  </p>
</div>

<div class="video-player-container">
  <video controls class="video-player" preload="metadata"
    poster="/media/placeholder/<%= video.placeholderFile.filename %>">
    <source src="/media/video/<%= video.videoFile.filename %>" type="<%= video.videoFile.mimetype %>">
    </source>
  </video>
</div>
<div class="container">
  <div class="row">
    <div class="col m-auto comments-likes-section">
      <div><span><a href="#">Comments (number)</a></span></div>
      <div class="reaction-button-wrapper" id="likeButton"><img src="/media/like.png" alt=""></div>
      <div class="reaction-button-wrapper" id="dislikeButton"><img src="/media/dislike.png" alt=""></div>
      <div><span>Likes: (Number)</span></div>
      <div><span>Dislikes: (Number)</span></div>
      <div><span>Views: (Number)</span></div>
    </div>
  </div>
</div>





<script src="/js/video-page-view.js"></script>

<%- include('partials/footer.ejs') %>