<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/css/video-view.css">
<div class="card-body">
  <h5 class="card-title"><%= video.name %></h5>
  <p class="card-text"><%= video.description %>
  </p>
</div>

<div class="video-player-container">
  <video controls class="video-player" preload="metadata"
    poster="/media/placeholder/<%= video.placeholderFile.filename %>">
    <source src="/media/video/<%= video.videoFile.filename %>" type="<%= video.videoFile.mimetype %>">
    </source>
  </video>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col m-auto comments-likes-section">
      <div><span><a class="comments-button" href="#">Comments</a></span></div>
      <div class="reaction-button-wrapper" id="likeButton"><img 
      <% if(reaction.userReaction == 'like') { %>
        src="/media/like-active.png"
      <% } else { %>
        src="/media/like.png"
      <% } %>  
      alt=""></div>
      <div class="reaction-button-wrapper" id="dislikeButton"><img 
      <% if(reaction.userReaction == 'dislike') { %>
      src="/media/dislike-active.png"
      <% } else { %>
      src="/media/dislike.png"
      <% } %>
      alt=""></div>
      <div><span>Likes: <%= reaction.like.length %> </span></div>
      <div><span>Dislikes: <%= reaction.dislike.length %></span></div>
      <div><span>Views: <%= video.views %></span></div>
    </div>
  </div>
</div>

<div id="popup-comments-container">
  <div class="comment-close-button"><img src="/media/icons8-close-64.png" /></div>
  <div class="comment-section">
  </div>
  <div class="add-comment-section">
    <input class="form-control m-1" type="text" placeholder="Add your comment here..." minlength="2"
      name="comment-value" id="comment-value">
    <button class="btn btn-primary m-1 addCommentButton">Add Comment</button>
  </div>
</div>


<script src="/js/add-new-comment.js"></script>
<script src="/js/video-page-view.js"></script>

<%- include('partials/footer.ejs') %>